<main>
    <ul class="messages">
        <% messages.forEach((message) => { %>
        <li class="message">
            <% if(!user || !user.is_member) { %>
            <h4 class="author">Anonymous</h4>
            <h4 class="title"><%= message.title %></h2>
            <p class="message-text"><%= message.text %></p>
            <p class="date">Date unavailable</p>
            <% } else { %>
            <h4 class="author"><%= message.first_name %> <%= message.last_name %></h4>
            <h4 class="title"><%= message.title %></h2>
            <p class="message-text"><%= message.text %></p>
            <p class="date"><%= message.date %></p>
            <% } %>
            <hr>
        </li>
        <% }) %>
    </ul>
</main>